main {
    width:100%;
    background: radial-gradient(circle , #7f3fe6, white);
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 250;
    font-style: normal;
    font-size: 0.5rem;
    text-align:start;
    justify-content: center;
    color:#e3defe;
}

video {
    padding: 0.5rem;
}